<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <clear/>
    <add key="UpdaterUrl" value="http://sync.afraid.org/u/U6Rw5DafWGvCVpjQRFsgaQ6V/"/>
    <add key="UserName" value="rupertg56@gmail.com"/>
    <add key="Password" value="***"/>
  </appSettings>
</configuration>
